

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --mainCol:#5d966c;
    --mainColHover:#638b6e;
}

.primaryBtn{
    color: white;
    background: var(--mainCol);
}
.primaryBtn:hover{
    color: white;
    background: var(--mainColHover);
}



